############################################################
#Purpose:
#	This is netcap's default configuration file. Any 
#	option specified on the command-line will overwrite 
#	any option specified within.
#
#Notes:
#	- This is designed to be used with the netcap program
#	- This file should be setup before using netcap's 
#	configuration option (--Config)
#	- Comment out an option by prefixing with a hash (#)
#	- Set each configuration option and then uncomment 
#	by removing the preceding hash (#)
#		o The paths should be set to where the 
#		respective files reside for each section
#		o The set file names below are the defaults 
#		but can be changed to what you wish
############################################################

#Name: 
#	CAPTURE_FILE_PATH
#Purpose: 
#	Default location for capture file
#Note:
#	Relevant when using --capture 

#CAPTURE_FILE_PATH=/path/to/netcap/capture/file/netcap.capture

#Name: 
#	LEARN_FILE_PATH
#Purpose: 
#	Default location for learn file
#Note:
#	Relevant when using --learn 

#LEARN_FILE_PATH=/path/to/netcap/learn/file/netcap.learn

#Name: 
#	REVIEW_FILE_PATH
#Purpose: 
#	Default location for review file
#Note:
#	Relevant when using --learn 

#REVIEW_FILE_PATH=/path/to/netcap/review/file/netcap.review

#Name: 
#	NOTIFY_FILE_PATH
#Purpose: 
#	Default location for message file
#Note:
#	Relevant when using --monitor (server)
#	and using --notify option

#NOTIFY_FILE_PATH=/path/to/netcap/notify/file/netcap.message

#Name: 
#	CACHE_FILE_PATH
#Purpose: 
#	Default location for server cache file
#Note:
#	Relevant when using --monitor (server)

#CACHE_FILE_PATH=/path/to/netcap/cache/file/netcap.cache

#Name: 
#	SERVER_LOG_FILE_PATH
#Purpose: 
#	Default location for server log file
#Note:
#	Relevant when using --monitor (server)

#SERVER_LOG_FILE_PATH=/path/to/netcap/server-log/file/netcap.server.log

#Name: 
#	CLIENT_LOG_FILE_PATH
#Purpose: 
#	Default location for client log file
#Note:
#	Relevant when using --monitor (client)

#CLIENT_LOG_FILE_PATH=/path/to/netcap/client-log/file/netcap.client.log

#Name: 
#	ERROR_LOG_FILE_PATH
#Purpose: 
#	Default location for error file
#Note:
#	Relevant when using --monitor (server)
#	and using --daemon option

#ERROR_LOG_FILE_PATH=/path/to/netcap/error-log/file/netcap.error.log
